/GestaoDeBaresECasasNoturnas/nbproject/private/
/GestaoDeBaresECasasNoturnas/build/
/TrabalhoHerenca/nbproject/private/
/GestaoDeBaresECasasNoturnas/src/model/GestaoDeBaresECasasNoturnas-main/GestaoDeBaresECasasNoturnas/build/
/GestaoDeBaresECasasNoturnas/src/model/GestaoDeBaresECasasNoturnas-main/GestaoDeBaresECasasNoturnas/nbproject/private/